.text1{
    text-align: justify;
    width: 600px;
       
}
.ft {
    background-color: #72ebef;
}

.kanana {
    margin-left: 50%;
    margin-top: -475px;
}
.kanan {
    margin-left: 50%;
    margin-top: -475px;
}
.kiri {
    padding-left:15px;
}
.kontak {
    
    margin-top: 75px;
}
.kontak p{
    width: 250px;
}
.gmap {
    position: relative;
    margin-top: -260px;
}
.btn_gnt{
    position: relative;
    top: -500px;
}
